@model MessengerApp.Application.Dtos.SearchDto

<div class="row">
    <div class="col-4">
        <h2>Users</h2>
        @if (Model.Users != null && Model.Users.Any())
        {
            @foreach (var user in Model.Users)
            {
                <div class="mb-4">
                    <div class="card user-card">
                        <div class="card-header">
                            @user.UserName
                        </div>
                        <div class="card-body">
                            @if (user.ProfilePictureBytes != null && user.ProfilePictureBytes.Length != 0)
                            {
                                <img class="profile-picture" src="data:image/jpeg;base64,@Convert.ToBase64String(user.ProfilePictureBytes)" alt="Profile Picture"/>
                            }
                            else
                            {
                                <div class="empty-circle"></div>
                            }
                            <div class="mt-2">
                                @user.FirstName @user.LastName
                            </div>
                        </div>
                        <div class="card-footer">
                            <form method="post" asp-controller="Direct" asp-action="CreateDirect">
                                <input type="hidden" name="conversatorId" value="@user.Id"/>
                                <button class="btn btn-success btn-block" type="submit">
                                    Start chat
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    
    <div class="col-4">
        <h2>Groups</h2>
        @if (Model.Groups != null && Model.Groups.Any())
        {
            @foreach (var group in Model.Groups)
            {
                <div class="mb-4">
                    <div class="card group-card">
                        <div class="card-header">
                            @group.Title
                        </div>
                        <div class="card-body">
                            @if (group.ChatPictureBytes != null && group.ChatPictureBytes.Length != 0)
                            {
                                <img class="chat-picture" src="data:image/jpeg;base64,@Convert.ToBase64String(group.ChatPictureBytes)" alt="Chat Picture"/>
                            }
                            else
                            {
                                <div class="empty-image"></div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    
    <div class="col-4">
        <h2>Channels</h2>
        @if (Model.Channels != null && Model.Channels.Any())
        {
            @foreach (var channel in Model.Channels)
            {
                <div class="mb-4">
                    <div class="card channel-card">
                        <div class="card-header">
                            @channel.Title
                        </div>
                        <div class="card-body">
                            @if (channel.ChatPictureBytes != null && channel.ChatPictureBytes.Length != 0)
                            {
                                <img class="chat-picture" src="data:image/jpeg;base64,@Convert.ToBase64String(channel.ChatPictureBytes)" alt="Chat Picture"/>
                            }
                            else
                            {
                                <div class="empty-image"></div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>