@model MessengerApp.Application.Dtos.Group.GroupDto

<script type="module" src="~/js/groupHub.js"></script>

<div id="userData" data-username="@ViewBag.Username" data-profilepicture="@ViewBag.ProfilePictureBytes" data-groupId="@Model.Id"></div>

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title">Group Information</h5>
                    <p class="card-text">
                        <strong>Title:</strong> @Model.GroupInfoDto.Title
                    </p>
                    <p class="card-text">
                        <strong>Description:</strong> @Model.GroupInfoDto.Description
                    </p>
                </div>
                <div class="col">
                    @if (Model.GroupInfoDto.ChatPictureBytes != null && Model.GroupInfoDto.ChatPictureBytes.Length != 0)
                    {
                        <img class="profile-picture" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.GroupInfoDto.ChatPictureBytes)" alt="Profile Picture"/>
                    }
                    else
                    {
                        <div class="empty-circle"></div>
                    }
                </div>
            </div>
        </div>
    </div>

    <form id="messageForm" method="post" asp-controller="Group" asp-action="CreateGroupMessage">
        <div class="form-group">
            <input type="hidden" name="groupId" value="@Model.Id">
            <label for="content">Message:</label>
            <textarea class="form-control" id="content" name="CreateMessageDto.Content" rows="3"></textarea>
        </div>
        <button id="sendMessageButton" type="submit" class="btn btn-primary">Send Message</button>
    </form>

    @* TODO attachments, reactions *@
    <h2>Messages</h2>
    <div id="messagesContainer">
        @foreach (var message in Model.Messages)
        {
            <div class="card mt-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Message</h5>
                            <p class="card-text">
                                <strong>Sender:</strong> @message.Sender.UserName
                            </p>
                            <p class="card-text">
                                <strong>Content:</strong> @message.Content
                            </p>
                            <p class="card-text">
                                <strong>Timestamp:</strong> @message.Timestamp
                            </p>
                        </div>
                        <div class="col">
                            @if (message.Sender.ProfilePictureBytes != null && message.Sender.ProfilePictureBytes.Length != 0)
                            {
                                <img class="profile-picture" src="data:image/jpeg;base64,@Convert.ToBase64String(message.Sender.ProfilePictureBytes)" alt="Profile Picture"/>
                            }
                            else
                            {
                                <div class="empty-circle"></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>