@model IEnumerable<MessengerApp.Application.Dtos.Group.GroupPreviewDto>?

@inject IViewLocalizer ViewLocalizer

<div class="row">
    <a class="btn btn-primary" asp-action="New" asp-controller="Group">@ViewLocalizer["NewGroup"]</a>
</div>
@if (Model != null && Model.Count() != 0)
{
    @foreach (var chat in Model)
    {
        <div class="row">
            <div class="card">
                <div class="card-header">
                    @chat.Title
                </div>
                <div class="card-body">
                    @if (chat.ChatPictureBytes != null && chat.ChatPictureBytes.Length != 0)
                    {
                        <img class="profile-picture" src="data:image/jpeg;base64,@Convert.ToBase64String(chat.ChatPictureBytes)" alt="Profile Picture"/>
                    }
                    else
                    {
                        <div class="empty-circle"></div>
                    }
                </div>
                <div class="card-footer d-flex">
                    <div class="d-flex justify-content-start w-100">
                        <a class="btn btn-success btn-block" asp-action="Chat" asp-route-groupId="@chat.Id">
                            @ViewLocalizer["Open"]
                        </a>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-danger btn-block" asp-action="LeaveGroup" asp-route-groupId="@chat.Id">
                            @ViewLocalizer["Leave"]
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
}