@inject IViewLocalizer ViewLocalizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="~/css/app.css" rel="stylesheet"/>
</head>
<body>
<!-- Top bar --->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">MessengerApp</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Profile" asp-action="Index">@ViewLocalizer["Profile"]</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @ViewLocalizer["Chats"]
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" asp-action="Index" asp-controller="Direct">@ViewLocalizer["Directs"]</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-action="Index" asp-controller="Group">@ViewLocalizer["Groups"]</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-action="Index" asp-controller="Channel">@ViewLocalizer["Channels"]</a>
                    </li>
                </ul>
            </li>
        </ul>
        <form class="d-flex" method="post" asp-controller="Search" asp-action="Index">
            <input name="search" class="form-control me-2" type="search" placeholder="@ViewLocalizer["SearchPlaceHolder"]" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">@ViewLocalizer["Search"]</button>
        </form>
        @if (User.Identity!.IsAuthenticated)
        {
            <form asp-controller="Home" asp-action="LogOut" method="post">
                <button class="btn btn-danger" type="submit">@ViewLocalizer["LogOut"]</button>
            </form>
        }
    </div>
</nav>
<!-- Content -->
<div class="container mt-4">
    @RenderBody()
</div>
<!-- Notification -->
<div class="notification-container">
    <div id="notification" class="alert alert-dismissible fade show" role="alert" style="display: none;">
        <strong id="notification-message"></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script>
$(document).ready(function () {
    var notificationMessage = "@TempData[Notifications.Message]";
    var notificationSucceeded = "@TempData[Notifications.Succeeded]" === "True";

    if (notificationMessage !== "") {
        $("#notification-message").text(notificationMessage);

        if (notificationSucceeded) {
            $("#notification").addClass("alert-success");
        } else {
            $("#notification").addClass("alert-danger");
        }

        $("#notification").fadeIn();

        var notificationTimeout = setTimeout(function () {
            $("#notification").fadeOut(function () {
                $(this).remove();
            });
        }, 5000);

        var countdownInterval = setInterval(function () {
            var remainingTime = Math.ceil((5000 - (Date.now() - notificationTimeout)) / 1000);
            $("#notification .countdown").text(" (" + remainingTime + "s)");
        }, 1000);

        $("#notification").on("hidden.bs.alert", function () {
            clearInterval(countdownInterval);
        });
    }
});
</script>
</body>
</html>